:root {
  --fg: #111;
  --bg: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--fg);
  background: var(--bg);
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    "Apple Color Emoji",
    "Segoe UI Emoji";
}

main {
  max-width: 800px;
  margin: 0 auto;
}

.btn {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  border: 1px solid #e5e7eb;
  background: #111827;
  color: white;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(1.05);
}
